.top{
    width: 80%;
    margin: 0 auto;
}
.card{
    background-color: rgb(34, 33, 33);
    color: rgb(216, 202, 202);
    margin: 5px auto;
    text-align: start;
    max-width: 80%;
    border-radius: 8px;
    padding: 10px 20px;
}
.card:hover{
    background-color: rgb(43, 41, 41);
    color: rgb(216, 202, 202);
    margin: 5px auto;
    text-align: start;
    max-width: 80%;
    border-radius: 8px;
    padding: 10px 20px;
    transform: scale(1.01);
    transition: transform .5s ease;
}
.main{
    margin: 0 auto;
}
.btn{
    background-color: rgb(102, 202, 202);
    border: double;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 2px 5px 3px -3px;
}
.btn:hover{
    background-color: rgb(87, 146, 146);
    border: double;
    padding: 5px 20px;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 2px 5px 3px -3px;

}
